@import "tailwindcss";

@media (max-width: 767px) {
  input:not([type='checkbox']):not([type='radio']),
  select,
  textarea {
    font-size: 16px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-os,
  #print-os * {
    visibility: visible;
  }

  #print-os {
    display: block !important;
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 24px;
  }
}
